.App {
  display:flex;
  flex-direction: column;
  gap: 50px;
}

.App-link {
  color: #61dafb;
}

header{
  background-color: #303030;
  padding: 20px;
}


header > h1{
  text-align: center;
  margin:0;
  color:white;
}

.main-content{
  display:flex;
  flex-direction: column;
  padding: 10px;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
}


@media only screen and (min-width: 1024px){
  .main-content{
    flex-direction: row;
  }

  .form{
    width:45%;
  }

}